/* This file is for your main application CSS */
@import "./phoenix.css";

/* Alerts and form errors used by phx.new */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
.invalid-feedback {
  color: #a94442;
  display: block;
  margin: -1rem 0 2rem;
}

/* LiveView specific classes for your customization */
.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected{
  cursor: wait;
}
.phx-disconnected *{
  pointer-events: none;
}

.phx-modal {
  opacity: 1!important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15vh auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.list-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 15px;
}

.list__item {
  display: grid;
}

.list__item--add {
  align-items: center;
}

.list__item--header {
  display: flex;
  flex-direction: row-reverse;
  border: none;
}

.list__item--discard {
  font-weight: 900;
  width: 25px;
  height: 25px;
  background-color: #eeb0e46e;
  border: 1px solid #7d1b6e;
  border-radius: 50%;
  padding-left: 5px;
  padding-bottom: 25px;
}

.list__item--spacer {
  width: 25px;
  height: 25px;
  padding-left: 5px;
  padding-bottom: 25px;
}

.list__item--body {
  display: flex;
  flex-flow: column;
  background-color: #eeb0e4;
  margin-right: 20px;
  padding: 5px;
  height: 150px;
  overflow: hidden;
}

.list__item--make {
  flex-flow: row;
  align-items: center;
}

.list__item--name {
  overflow: hidden;
  text-overflow: ellipsis;
  padding: 4px;
}
.list__item--notes {
  overflow: hidden;
  text-overflow: ellipsis;
}

.make__list {
  display: flex;
}
